# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/pipeline/#customization
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- build
- deploy
variables:
  DEPLOY_PATH: "/home/$DEPLOY_USER/web/$DEPLOY_DOMAIN/public_html"
build:
  stage: build
  image: node:20-alpine
  cache:
    key: "${CI_COMMIT_REF_SLUG}"
    paths:
    - node_modules/
  script:
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/
    expire_in: 1 hour
deploy:
  stage: deploy
  image: alpine:latest
  dependencies:
  - build
  before_script:
  - apk add --no-cache rsync openssh-client
  - mkdir -p ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - eval $(ssh-agent -s)
  - echo "" > ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  script:
  - rsync -avz --delete --chmod=D755,F644 dist/ $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH/
  only:
  - master
  environment:
    name: production
    url: https://$DEPLOY_DOMAIN
include:
- template: Security/SAST-IaC.latest.gitlab-ci.yml
